<div class="container-stat">
<section id="profile_header">
  <h2>Hi <%=@user.username%></h2>
  <p>Here's your Flash Cards performance history:</p>
  <p>You've played <%= @user.rounds.length%> rounds so far. </p>
</section>

<!--

This next section has too many of the following:

- Database calls (> 0)
- Model logic (> 0)
- Nested conditionals (>2)
-->

<section id="profile_body">
  <% Deck.all.each do |deck|%> <!--

  We DO NOT CALL THE DATABASE FROM OUR VIEWS!!!!  Moreso - We have a relationship between user and decks.  Use that:

  user.decks.each do |deck|
  end

  -->
    <%if deck.users.include?(@user)%>
      <section class="user_deck_history">
        <h3><%= deck.name %></h3>
        <!-- Too much logic for your view.  Figure out a better way to encapsulate this into a model -->
        <%@user.rounds.select{|round| round.deck_id == deck.id}.each do |round|%>
        <section class ="one_round">
          <p>You played this deck on <%=round.round_date%></p>
          <p>In this round, you got <%=round.questions_correct%> questions right and <%=round.questions_incorrect%> incorrect.</p>
        </section>
        <%end%>
      </section>
    <%end%>
  <%end%>
</section>
</div>
