<% if @current_card.current_card_has_guesses_from_this_round?(@round.id) && @current_card.last_guess_wrong?(@round.id)%>
    <p>That was wrong please guess again you idiot</p>
<%end%>


<%if @round.last_guess_correct? %>
    <p>You got that last one correct, goodjob</p>
<%end%>


<div class="container-q">
<div id="wrapper">
 <h1><%=@current_card.question%></h1>
</div>

<div class='qline'></div>


<!-- If you wanted to use nested routes for this, it might look like:

<form method="post" action= "/rounds/<%= round.id %>/cards/<%= card.id %>/guesses">

-->

<form method="post" action= "/guesses">
  <div class='q-answer'>
  <input type="text" name="guess" placeholder="Answer">
  <input type="hidden" name="card_id" value="<%= "#{@current_card.id}" %>">
  <input type="hidden" name="round_id" value=<%= @round.id %>>
  <input type="submit" name="Submit">
</div>
</form>
</div>

